<?xml version="1.0" encoding="UTF-8" ?>
<Module>

<ModulePrefs title="Hangout Starter">
  <Require feature="rpc" />
</ModulePrefs>

<Content type="html"><![CDATA[

<html>

<head>
<link href="//ruby-puzzles.herokuapp.com/slideshow.css" rel="stylesheet" media="screen"/>
<link href="//ruby-puzzles.herokuapp.com/local.slideshow.css" rel="stylesheet" media="screen"/>  
<style>
.slide#coding {
background-image: url(//ruby-puzzles.herokuapp.com/images/desktop.png);
}
</style>
</head>

<body>

<script src="//plus.google.com/hangouts/_/api/v1/hangout.js"></script>

<div class="presentation">

<% SLIDES.each do |slide| %>
<div class="slide">
  <%= slide.html_title %>
  <%= slide.html_subtitle %>
  <section style="font-size:2em;">
    <%= slide.html_section %>
  </section>		    
</div>
<% end %>

<!--   #####  LAST SLIDE : CODING SLIDE   ##### -->

<div class="slide" id="coding">
    
<section>

<div class="code" id="code_input"></div>

<% SLIDES.each do |slide| %>
  <div class="code_helper">
    <%= slide.html_subtitle %>
    <%= slide.html_helper || slide.html_code_to_add %>
    <%= slide.html_code_to_display %>    
  </div>
<%end %>

<div class="code_author">
  <span id="last_send_attendee_name">{default}</span>
  <span id="author_name">{default}</span>
</div>

<input type="button" id="execute" value="RUN (ALT-R)" disabled>
<input type="button" id="send_code" value="RUN & SEND (ALT-S)" disabled>
<input type="button" id="get_code" value="GET & RUN (ALT-G)" disabled>

<textarea class="code_result" id="code_output" readonly></textarea>

</section>

</div>  

</div> <!--presentation-->

<script src="//ruby-puzzles.herokuapp.com/common.js"></script>

<script>
FLIP_GET_POSITION_SYNC_ASYNC = SYNCHRONOUS
FLIP_ATTENDEE_GET_POSITION_FREQUENCY = 2000
</script>

<!--script src="//ruby-puzzles.herokuapp.com/featureflip.js"></script-->
<script src="//ruby-puzzles.herokuapp.com/slides.js"></script>
<script src="//ruby-puzzles.herokuapp.com/slideshow.js"></script>

<!-- EDITOR_CONFIG -->
<script src="//ruby-puzzles.herokuapp.com/ace-builds/src-min-noconflict/ace.js" type="text/javascript" charset="utf-8"></script>
<script src="//ruby-puzzles.herokuapp.com/local.ace_editor_config.js"></script>

<!-- PREVENT DEFAULT KEYS -->
<script src="//ruby-puzzles.herokuapp.com/local.prevent_default_keys.js"></script>


<script>
SERVER_PATH = '//ruby-puzzles.herokuapp.com'
</script>

<script>
code_editor.setReadOnly(true);
</script>

<script src="//ruby-puzzles.herokuapp.com/slideshow-blackboard.js"></script>


</body>
</html>

]]>
</Content>
</Module>
