<html>
<head>
<link href="slideshow.css" rel="stylesheet" media="screen"/>
<link href="local.slideshow.css" rel="stylesheet" media="screen"/>   
</head>
<body>

<div class="presentation">

<% SLIDES.each do |slide| %>
<div class="slide">
  <%= slide.html_title %>
  <%= slide.html_subtitle %>
  <section style="font-size:2em;">
    <%= slide.html_section %>
  </section>		    
</div>
<% end %>

<!--   #####  LAST SLIDE : CODING SLIDE   ##### -->

<div class="slide" id="coding">
    
<section>

<div class="code" id="code_input"></div>

<% SLIDES.each do |slide| %>
  <div class="code_helper">
    <%= slide.html_subtitle %>
    <%= slide.html_helper || slide.html_code_to_add %>
    <%= slide.html_code_to_display %>    
  </div>
<%end %>

<div class="code_author"><span id="last_send_attendee_name">+</span><span id="author_name">#</span></div>

<input type="button" id="execute" value="RUN (ALT-R)" disabled>
<input type="button" id="send_code" value="RUN & SEND (ALT-S)" disabled>
<input type="button" id="get_code" value="GET & RUN (ALT-G)" disabled>

<textarea class="code_result" id="code_output" readonly></textarea>

</section>

</div>  

</div> <!--presentation-->

<script src="common.js"></script>
<script src="featureflip.js"></script>
<script src="slides.js"></script>
<script src="slideshow.js"></script>

<!-- EDITOR_CONFIG -->
<script src="ace-builds/src-min-noconflict/ace.js" type="text/javascript" charset="utf-8"></script>
<script src="local.ace_editor_config.js"></script>

<!-- PREVENT DEFAULT KEYS -->
<script src="local.prevent_default_keys.js"></script>

<script>
code_editor.setReadOnly(true);
</script>

<script src="slideshow-blackboard.js"></script>

</body>
</html>